@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Wittgenstein", serif;
    color: #fff; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(1, 1, 1, 1)
    );
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 9vh;
    max-width: 100vw;
    padding: 100px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    color: tomato;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu .navbar ul li {
    position: relative;
}

.menu .navbar ul li a {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: tomato;
}

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

#login {
    display: inline-block;
    padding: 1px 10px;
    margin: 20px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        rgba(245, 99, 72, 1) 20%,
        rgba(254, 148, 32, 1) 100%
    );
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#login:hover {
    background: linear-gradient(
        90deg,
        rgba(126, 111, 94, 0.761) 20%,
        rgba(245, 72, 72, 0.818) 100%
    );
}

/* Main */
.games {
    padding: 50px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.games h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: tomato;
    text-transform: uppercase;
}

.games h1 strong {
    color: rgba(254, 148, 32, 1);
}

.game-grid, .shadows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.game-card img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card h2 {
    margin: 15px 0;
    font-size: 24px;
}

.game-card p {
    margin-bottom: 10px;
}

.game-card .buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    color: white;
    background: linear-gradient(
        90deg,
        rgba(245, 99, 72, 1) 20%,
        rgba(254, 148, 32, 1) 100%
    );
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.game-card .buy-button:hover {
    background: linear-gradient(
        90deg,
        rgba(126, 111, 94, 0.761) 20%,
        rgba(245, 72, 72, 0.818) 100%
    );
}


.game-new .buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    color: white;
    background: linear-gradient(
        90deg,
        rgba(245, 99, 72, 1) 20%,
        rgba(254, 148, 32, 1) 100%
    );
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.game-new .buy-button:hover {
    background: linear-gradient(
        90deg,
        rgba(126, 111, 94, 0.761) 20%,
        rgba(245, 72, 72, 0.818) 100%
    );
}

.shadows {
    padding: 50px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.shadows h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: tomato;
    text-transform: uppercase;
}

.shadows h1 strong {
    color: rgba(254, 148, 32, 1);
}

.game-new {
    background-color: rgba(93, 14, 14, 0.587);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.game-new img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.game-new:hover {
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
    .game-card, .game-new {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .game-card, .game-new {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 0px;
    color: white;
}

